# Текущее окружение (development/stage/production)
ENVIRONMENT=

# Основной URL для текущего окружения
BASE_URL=

# Альтернативные URL
DEV_BASE_URL=
STAGE_BASE_URL=
PROD_BASE_URL=

# URL для Selenoid
SELENOID_URL=
LOGIN=
PASSWORD=

# Дефолтный юзер-агент
DEFAULT_USER_AGENT=

# Дефолтная версия браузера
DEFAULT_BROWSER_VERSION=

X_STAGE_NETWORK_TYPE=

RUN_MARKER=

BROWSER_NAME=