allure-pytest==2.13.5
Faker==36.2.2
pip==26.0.1
pipdeptree==2.25.0
pytest==9.0.2
requests==2.32.4
selenium==4.29.0
six==1.12.0
python-dotenv~=1.0.1
options~=1.4.10
selene==2.0.0rc9
flake8==7.3.0
black==25.11.0
isort==7.0.0
jsonschema~=4.26.0
openpyxl~=3.1.5
webdriver-manager~=4.0.2
allure-python-commons~=2.13.5